@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.color-palette-container {
    padding: 10px;
    height: 100vh;
    overflow-y: scroll;
}

.color-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    font-family: Roboto;
    font-size: 34px;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
}

.red {
    background-color: #f87171;
}

.orange {
    background-color: #fb923c;
}

.amber {
    background-color: #fbbf24;
}

.yellow {
    background-color: #facc15;
}

.lime {
    background-color: #a3e635;
}

.green {
    background-color: #4ade80;
}

.emerald {
    background-color: #34d399;
}

.cyan {
    background-color: #22d3ee;
}

.light-blue {
    background-color: #38bdf8;
}

.blue {
    background-color: #60a5fa;
}

.indigo {
    background-color: #818cf8;
}

.purple {
    background-color: #c084fc;
}

.fuchsia {
    background-color: #e879f9;
}

.pink {
    background-color: #f472b6;
}

.rose {
    background-color: #fb7185;
}

.color-name {
    color: white;
    font-family: Roboto;
    font-weight: 600;
}

.color-code {
    color: white;
    font-family: Roboto;
    font-weight: 600;
}